<template name="blogIndex">
    <div id="meteor-blog" class="blog-list">
        <div class="container">
            <div class="row full-width">
                <div class="col-md-8 col-md-offset-2">
                    {{> blogIndexLoop}}
                    <div class="row text-center">
                        {{blogPager}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="blogIndexLoop">
    {{#each posts}}
        <article class="post">
            <div class="row full-width">
                <div class="col-md-12">
                    {{#if featuredImage}}
                        <a href="{{pathFor 'blogShow'}}" class="thumbnail">
                            <img src="{{featuredImageFullPath}}" alt="" class="img-responsive">
                        </a>
                    {{/if}}
                    <h1>
                        <a href="{{pathFor 'blogShow'}}">{{title}}</a>
                    </h1>

                    <div class="post-meta">
                        von {{authorName}} am {{blogFormatDate publishedAt}} gepostet
                        {{> blogTags }}
                    </div>
                    <div class="the-content">
                        {{{excerpt}}}
                    </div>
                </div>
            </div>
        </article>
    {{else}}
        This blog is looking pretty empty...
    {{/each}}
</template>

<template name="blogTags">
    {{#if tags}}
        <div class="post-tags">
            <p> &ndash; Tags: {{blogFormatTags tags}}</p>
        </div>
    {{/if}}
</template>
