<template name="blogShow">
    <div id="meteor-blog" class="blog-single">
        {{> blogShowFeaturedImage}}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-11 col-md-8 col-md-offset-2">
                    {{> blogShowBody}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="blogShowBody">
    <article class="post">
        <div id="commentable-area" class="the-content">
            {{{html}}}
        </div>
    </article>
    {{> shareit shareData}}
    {{> disqus this}}
    <div class="row text-center">
        <a href="{{pathFor 'blogIndex'}}" class="blog-back-link btn">zur Übersicht</a>
    </div>
</template>

<template name="blogShowFeaturedImage">
    <div id="showHeader">
        <div id="background" style="background-image: url({{featuredImage}})">
            <div id="colorOverlay" class="center-vertical-container">
                <div class="center-vertical">
                    <h1 class="text-center">
                        {{title}}
                        {{#if isAdmin}}
                            <small><a href="#" id="edit-post">edit</a></small>
                        {{/if}}
                    </h1>
                    <div class="post-meta text-center">
                        von {{authorName}} am {{blogFormatDate publishedAt}} gepostet
                        {{> blogTags }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="disqus">
    {{#if useDisqus}}
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {{/if}}
</template>
